<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div id="app">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">devicePixelRatio</span>
        </div>
        <input type="number" v-model='devicePixelRatio' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </div>
      
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text">focusMode</label>
        </div>
        <select v-model="focusMode" @change="onChangeFocusMode" class="custom-select">
          <option>manual</option>
          <option>none</option>
          <option>single-shot</option>
          <option>continuous</option>
        </select>
      </div>

      <div v-if="focusDistance.isSupport">
        <span>focusDistance : {{ focusDistance.value }}</span>
        <span>({{ focusDistance.min }} ~ {{ focusDistance.max }})</span>
        <input type="range" hidden style="width: 80%;height: 50px;">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text">facingMode</label>
        </div>
        <select v-model="facingMode" @change="onChangeFacingMode" class="custom-select">
          <option>user</option>
          <option>environment</option>
        </select>
      </div>

      <div style="text-align: center;">
        <video ref="video" id="video" width="100%" height="100%" autoplay></video>
        
        <button type="button" class="btn btn-success btn-lg btn-block" v-on:click="capture()">撮る</button>
        <canvas ref="canvas" id="canvas"></canvas>
        
        <div class="capture" v-for="capture in captures" :key="capture.d">
          <img :src="capture"  width="100%" height="100%"/>
        </div>
      </div>
    </div>
  </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      video: {},
      canvas: {},
      captures: [],
      front: false,
      devicePixelRatio: window.devicePixelRatio,
      focusDistance: {
        min: 0,
        max: 0,
        value: 0,
        isSupport: false
      },
      focusMode: 'manual',
      facingMode: 'user'
    },
    computed: {
      constraints() {
        return { 
          video: { 
            facingMode: "user",
            aspectRatio: 4/3
          }
        }
      },
      track() {
        return this.video.srcObject.getVideoTracks()[0]
      },
      capabilities() {
        return this.track.getCapabilities()
      }
    },
    mounted () {
      this.video = this.$refs.video

      if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        this._playVideo()
      }
    },
    methods: {
      onChangeFocusMode() {
        let constraints = {}
        if (this.focusMode === "manual") {

          if (!this.capabilities.focusDistance) {
            alert(`Unsupported constraint(s) : ${this.focusMode}`)
            return;
          }

          this.focusDistance.isSupport = true
          const input = document.querySelector('input[type="range"]');
          input.min = this.capabilities.focusDistance.min;
          input.max = this.capabilities.focusDistance.max;
          input.step = this.capabilities.focusDistance.step;
          input.value = track.getSettings().focusDistance;
          input.hidden = false;
          this.focusDistance.min = this.capabilities.focusDistance.min;
          this.focusDistance.max = this.capabilities.focusDistance.max;
          this.focusDistance.value = track.getSettings().focusDistance;
          constraints = [{focusMode: "manual", focusDistance: this.focusDistance.value}]
          this.focusDistance.isSupport = true
          input.oninput = (event) => {
            this.focusDistance.isSupport = this.focusMode === "manual"
            this.focusDistance.value = event.target.value
            track.applyConstraints({
              advanced : [{focusMode: "manual", focusDistance: event.target.value}]
            });
          }
        } else {
          this.focusDistance.isSupport = false
          constraints = [{focusMode: this.focusMode}]
        }

        this.track.applyConstraints({advanced : constraints})
          .catch((e) => {
            alert(e.message + ' : ' + this.focusMode)
          });
      },
      onChangeFacingMode () {
        this._stopVideo()
        this.constraints.video.facingMode = (this.facingMode === 'environment' ? { exact: "environment" } : "user" )
        this._playVideo()
      },
      capture () {
        this.canvas = this.$refs.canvas
        var scale = this.devicePixelRatio;
        this.canvas.height = this.video.clientHeight * scale
        this.canvas.width = this.video.clientWidth * scale
        this.canvas.getContext('2d').drawImage(this.video, 0, 0, this.canvas.width, this.canvas.height)
        this.captures.push(this.canvas.toDataURL('image/jpeg'))
      },
      _stopVideo () {
        if(this.video.srcObject){
          this.video.srcObject.getVideoTracks().forEach(video => {
            video.stop();
          });
        }
      },
      _playVideo () {
        this._stopVideo()

        navigator.mediaDevices.getUserMedia(this.constraints).then(async stream => {
          // await new Promise(r => setTimeout(r, 500))
          this.video.srcObject = stream
        })
      },
    }
  });
</script>

<style>
  
  #canvas {
    display: none;
  }
  .capture {
    /* display: inline; */
    padding: 5px;
  }
  </style>