<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div id="app">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#exampleModalLong">
        Support Status
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div style="word-wrap: break-word;"　class="modal-body">
              {{ supportStatus }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">devicePixelRatio</span>
        </div>
        <input type="number" v-model='devicePixelRatio' class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </div>
      
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text">focusMode</label>
        </div>
        <select v-model="focusMode" @change="onChangeFocusMode" class="custom-select">
          <option>manual</option>
          <option>none</option>
          <option>single-shot</option>
          <option>continuous</option>
        </select>
      </div>

      <span>focusDistance : {{ focusDistance.value }}</span>
      <span>({{ focusDistance.min }} ~ {{ focusDistance.max }})</span>
      <input ref="focusDistanceRange" type="range" style="width: 80%;height: 50px;">
      
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text">facingMode</label>
        </div>
        <select v-model="facingMode" @change="onChangeFacingMode" class="custom-select">
          <option>user</option>
          <option>environment</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text">aspectRatio</label>
        </div>
        <select v-model="aspectRatio" @change="onChangeAspectRatio" class="custom-select">
          <option>4/3</option>
          <option>16/9</option>
        </select>
      </div>

      <div style="text-align: center;">
        <video ref="video" id="video" width="100%" height="100%" autoplay></video>
        
        <button type="button" class="btn btn-success btn-lg btn-block" v-on:click="capture()">撮る</button>
        <canvas ref="canvas" id="canvas"></canvas>
        
        <div class="capture" v-for="capture in captures" :key="capture.d">
          <img :src="capture"  width="100%" height="100%"/>
        </div>
      </div>
    </div>
  </body>
</html>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      video: {},
      canvas: {},
      captures: [],
      front: false,
      devicePixelRatio: window.devicePixelRatio,
      focusDistance: {
        min: 0,
        max: 0,
        value: 0,
      },
      focusMode: 'manual',
      facingMode: 'user',
      aspectRatio: '4/3',
      supportStatus: ''
    },
    computed: {
      constraints() {
        return { 
          video: { 
            facingMode: "user",
            aspectRatio: 4/3
          }
        }
      },
      track() {
        return this.video.srcObject.getVideoTracks()[0]
      },
      capabilities() {
        return this.track.getCapabilities()
      },
    },
    mounted () {
      this.video = this.$refs.video
      this._playVideo()
    },
    methods: {
      
      async onChangeAspectRatio() {
        this.constraints.video.aspectRatio = this.aspectRatio === '4/3' ? 4/3 : 16/9
        this._rebootVideo()
      },
      async onChangeFocusMode() {
        let constraints = {}
        if (this.focusMode === "manual") {

          if (!this.capabilities.focusDistance) {
            alert(`Unsupported constraint(s) : ${this.focusMode}`)
            return;
          }

          const input = this.$refs.focusDistanceRange
          input.min = this.capabilities.focusDistance.min;
          input.max = this.capabilities.focusDistance.max;
          input.step = this.capabilities.focusDistance.step;
          input.value = this.track.getSettings().focusDistance;
          this.focusDistance.min = this.capabilities.focusDistance.min;
          this.focusDistance.max = this.capabilities.focusDistance.max;
          this.focusDistance.value = this.track.getSettings().focusDistance;
          constraints = {focusMode: this.focusMode, focusDistance: this.focusDistance.value}
          input.oninput = (event) => {
            if (this.focusMode !== "manual")
              return

            this.focusDistance.value = event.target.value
            this.track.applyConstraints({
              advanced : [{focusMode: "manual", focusDistance: event.target.value}]
            });
          }
        } else {
          constraints = {focusMode: this.focusMode}
        }

        this._applyConstraints({advanced : [constraints]})
      },
      onChangeFacingMode () {
        this.constraints.video.facingMode = (this.facingMode === 'environment' ? { exact: "environment" } : "user" )
        this._rebootVideo()
      },
      capture () {
        this.canvas = this.$refs.canvas
        var scale = this.devicePixelRatio;
        this.canvas.height = this.video.clientHeight * scale
        this.canvas.width = this.video.clientWidth * scale
        this.canvas.getContext('2d').drawImage(this.video, 0, 0, this.canvas.width, this.canvas.height)
        this.captures.push(this.canvas.toDataURL('image/jpeg'))
      },
      async _applyConstraints(constraints) {
        try {
          await this.track.applyConstraints(constraints)
        } catch(e) {
          alert(`${e.name} : ${e.message}`)
        }
      },
      _rebootVideo () {
        this._stopVideo()
        this._playVideo()
      },
      async _playVideo () {
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
          this._stopVideo()

          try {
            const stream  = await navigator.mediaDevices.getUserMedia(this.constraints)
            this.video.srcObject = stream
            // @note getVideoTracksを利用する場合起動するまで時間がかかるので少し待つ必要がある
            await new Promise(r => setTimeout(r, 500))
            this.onChangeFocusMode()
            this.supportStatus = `capabilities: ${JSON.stringify(this.capabilities)}
              settings: ${JSON.stringify(this.track.getSettings())}`
          } catch(e) {
            alert(e.name)
          }  
        }
        
      },
      _stopVideo () {
        if(this.video.srcObject){
          this.video.srcObject.getVideoTracks().forEach(video => {
            video.stop();
          });
        }
      },
    }
  });
</script>

<style>
  
  #canvas {
    display: none;
  }
  .capture {
    /* display: inline; */
    padding: 5px;
  }
  </style>